<a href="https://colab.research.google.com/github/KennyOlat/kennyOlat/blob/main/helloworld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#printing function

In [ ]:
print("hello world!!!")

hello world!!!

In [ ]:
print("Hello, I am a beginner learning python!")

Hello, I am a beginner learning python!

In [ ]:
if True:
  print("Yes")
else:
    print("No")

Yes

In [ ]:
print("\n\n can you please add me to your group")
#!/usr/bin/python

 can you please add me to your group

In [ ]:

# this is a single line comment
print('a multiline comment')

#a multi line comment 
#multiline comment
#multiline comment

a multiline comment

In [ ]:
#defining a function
def add(a, b):
    """Function to add the value of a and b"""
    return a+b

print(add.__doc__)

Function to add the value of a and b

In [ ]:
def add(a, b):
    """Function to add the value of a and b"""
    return a-b

print(add.__doc__)

Function to add the value of a and b

In [ ]:
#creating a variable example
a =50
b=100
gender = "female"
print(a)
print(b)
print(gender)

50
100
female

In [ ]:
#progrm showing how variable can be deleted
age = 67
name = "Samuel"
print(age)
print(name)

del age 
print(age)

67
Samuel

NameError: ignored

In [ ]:
#assigning a value to multiple variables
a=b=c=1000
print(a)
print(b)
print(c)

1000
1000
1000

In [ ]:
#assigning multiple object to multiple
a,b,c= 24, 25, 'I am good'
print(a)
print(b)
print(c)

24
25
I am good

In [ ]:

#local varibale function - example

def sum(a,b):
    sum = a + b
    return (sum)
print(sum(9, 5))

14

In [ ]:
#local varibale function - example

def minus(a,b):
    minus = a - b
    return (minus)
print(minus(9, 5))

4

In [ ]:
#global declaration example
a = 9
b = 5
def sum():
    sum = a + b
    return (sum)
print(sum())

14

In [ ]:
# integer variable.
a=100
print("The type of variable having value", a, " is ", type(a))

# float variable.
b=20.345
print("The type of variable having value", b, " is ", type(b))

# complex variable.
c=10+3j
print("The type of variable having value", c, " is ", type(c))

The type of variable having value 100  is  <class 'int'>
The type of variable having value 20.345  is  <class 'float'>
The type of variable having value (10+3j)  is  <class 'complex'>

In [ ]:
def sum(x,y):
   sum = x + y
   return sum
print(sum(5, 10))

15

In [ ]:
#program testing string
str = 'I can do all things'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "Through Christ that strenghtens me") # Prints concatenated string

I can do all things
I
can
can do all things
I can do all thingsI can do all things
I can do all thingsThrough Christ that strenghtens me

In [ ]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)            # Prints complete list
print (list[2])         # Prints third element of the list
print (list[1:3])       # Prints elements starting from 1st till 3rd 
print (list[3:])        # Prints elements starting from 4th element
print (tinylist * 3)    # Prints list three times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
2.23
[786, 2.23]
['john', 70.2]
[123, 'john', 123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [ ]:
list = [ 'I', 'can' , 'do', 'all', 'things' ]
tinylist = ['can', 'do']

print (list)            # Prints complete list
print (list[2])         # Prints third element of the list
print (list[1:3])       # Prints elements starting from 1st till 3rd 
print (list[3:])        # Prints elements starting from 4th element
print (tinylist * 3)    # Prints list three times
print (list + tinylist) # Prints concatenated lists

['I', 'can', 'do', 'all', 'things']
do
['can', 'do']
['all', 'things']
['can', 'do', 'can', 'do', 'can', 'do']
['I', 'can', 'do', 'all', 'things', 'can', 'do']

In [ ]:
# program to demonstrate tuple
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)               # Prints the complete tuple
print (tuple[0])            # Prints first element of the tuple
print (tuple[1:3])          # Prints elements of the tuple starting from 2nd till 3rd 
print (tuple[2:])           # Prints elements of the tuple starting from 3rd element
print (tinytuple * 2)       # Prints the contents of the tuple twice
print (tuple + tinytuple)   # Prints concatenated tuples

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [ ]:
#tuple cannot be updated but list can-example
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

In [ ]:
#program testing string
str = 'Computer'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str + "Science") # Prints concatenated string

In [ ]:
# demonstrating range
# range(start, stop, step)
#start: Integer number to specify starting position, (Its optional, Default: 0)
#stop: Integer number to specify starting position (It's mandatory)
#step: Integer number to specify increment, (Its optional, Default: 1)

for i in range(5):
  print(i)

In [ ]:
#printing numbers starting from 1 using range
for i in range(1, 5):
  print(i)

In [ ]:
#printing numbers from 1 to 5 in steps of 2 using range

for i in range(1, 5, 2):
  print(i)

In [ ]:
# program demonstrating the use of dictionary

dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}


print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

In [ ]:
#demonstrating boolean 

a = True
# display the value of a
print(a)

# display the data type of a
print(type(a))

In [ ]:
#evaluation of expression and printing results
# Returns false as a is not equal to b
a = 2
b = 4
print(bool(a==b))

# Following also prints the same
print(a==b)

# Returns False as a is None
a = None
print(bool(a))
# Returns false as a is an empty sequence
a = ()
print(bool(a))

# Returns false as a is 0
a = 0.0
print(bool(a))

# Returns false as a is 10
a = 10
print(bool(a))

In [ ]:
#conversion to integer data type
a = int(1)     # a will be 1
b = int(2.2)   # b will be 2
c = int("3")   # c will be 3

print (a)
print (b)
print (c)

In [ ]:
#conversion to float
a = float(1)     # a will be 1.0
b = float(2.2)   # b will be 2.2
c = float("3.3") # c will be 3.3

print (a)
print (b)
print (c)

In [43]:
a = str(1)     # a will be "1" 
b = str(2.2)   # b will be "2.2"
c = str("3.3") # c will be "3.3"

print (a)
print (b)
print (c)

1
2.2
3.3

In [ ]:
type('a')

str

In [ ]:
type (3.3)

float

In [ ]:
type(6789)

int

In [ ]:
type (3.667895e-9j)

complex

In [ ]:
type ("345")

str

constant and variables

In [ ]:
super_mama = ("Super child")
print(super_mama)

Super child

In [ ]:
_childcate, child_care, childcare = "amen", 1234, 'AMEN'
print(_childcate, child_care, childcare)

amen 1234 AMEN

input function

In [26]:
n1 = input("enter the first price : ")
n2 = input("enter the second price :")
sum = n1 + n2
print(sum)

enter the first price : 23
enter the second price :45
2345

In [27]:
n1 = int(input("enter the first price : "))
n2 = int(input("enter the second price :"))
sum = n1 + n2
print(sum)

enter the first price : 23
enter the second price :49
72

In [29]:
num=50

print(float(num))

50.0

data types

In [30]:
type(2.3)

float

In [31]:
#convert one data type to another
b=78
print(b)
type(b)

78

int

In [32]:
b=(float(45))
print(b)

45.0

In [34]:
x=678.345
print(int(x))
type(x)

678

float

In [37]:
#boolean value
s=True
b=False
print(s,b)
type(s)
type(b)

True False

bool

In [42]:
x=10>3; y=5<9; z= 4==3
print(x, y, z)
type(x); type(y); type(z)

True True False

bool

String

In [44]:
_string = "STRING"
print(_string)
type(_string)

STRING

str

In [ ]:
_string1 = "STRING"
_string2 = "string"
print(_string1 + _string2)
print(_string2 * 4)
print(_string1[2:])
print(_string2[:2])
print(_string1[2:0])
print(_string2[1:2])
print(_string1[0:3])
print(_string2[0:1])
print(_string1[1::4])
print(_string2[0::3])

Types of Object in Python
immuntable objects
mutable objects

Immutable objects 
Objects that values cannot be changed after creation, examples are:
int
float
string
bool
tuple

Mutable Objects 
mutable objects are objects that the values can change after creation, the examples are:
list
set 
dictionary

In [61]:
#list should be in square bracket
_list = ["pen", "biro", "pencil", "ruler", 1,2,3,4,5]
print(_list)
type(_list)

['pen', 'biro', 'pencil', 'ruler', 1, 2, 3, 4, 5]

list

In [62]:
#how to add element to a list
_list = ["pen", "biro", "pencil", "ruler", 1,2,3,4,5]
_list.append(24)
print(_list)

['pen', 'biro', 'pencil', 'ruler', 1, 2, 3, 4, 5, 24]

In [63]:
#print element of a list using their index
print(_list[6])
print(_list[2])

3
pencil

In [64]:
#list allow duplicate values
_list = ["pen", "biro", "pencil", "pen" "ruler", 1,2,3,4,5, 2, 4]
print(_list)

['pen', 'biro', 'pencil', 'penruler', 1, 2, 3, 4, 5, 2, 4]

In [65]:
#to print the lenght of elements in a list
_list = ["pen", "biro", "pencil", "ruler", 1,2,3,4,5]
_list1 = ["pen", "biro", "pencil", "pen" "ruler", 1,2,3,4,5, 2, 4]
print(len(_list))
print(len(_list1))

9
11

In [67]:
#initializing empty list
_list = []
print(_list)
_list.append(23) #to add element to an empty list
print(_list)

[]
[23]

In [69]:
# to delete an element in a list
_list = ["pen", "biro", "pencil", "pen", "ruler", 1,2,3,4,5, 2, 4]
print(_list)

del _list[5]
print(_list)

['pen', 'biro', 'pencil', 'pen', 'ruler', 1, 2, 3, 4, 5, 2, 4]
['pen', 'biro', 'pencil', 'pen', 'ruler', 2, 3, 4, 5, 2, 4]

In [70]:
#we use concatenation + to join two list
_list = ["pen", "biro", "pencil", "pen" "ruler", 1,2,3,4,5, 2, 4]
list1 = [23, 24, 25, 26]
list_1 = _list  +  list1
print (list_1)

['pen', 'biro', 'pencil', 'penruler', 1, 2, 3, 4, 5, 2, 4, 23, 24, 25, 26]

Tuple

It is similar as list. The only difference is that you cn not alter the element of a list. Tuple uses round bracket while list uses square bracket

In [71]:
_tuple = ("pen", "biro", "pencil", "pen" "ruler", 1,2,3,4,5, 2, 4)
print(_tuple)
type(_tuple)

('pen', 'biro', 'pencil', 'penruler', 1, 2, 3, 4, 5, 2, 4)

tuple

In [76]:
#conversion of list into tuple

_list = ["pen", "biro", "pencil", "pen", "ruler", 1,2,3,4,5, 2, 4]
print(_list)

_tuple = tuple(_list)
print(_tuple)

print(_tuple[3]) #printing elements of tuple using index
print(_tuple[6])
print(_tuple[9])

print(len(_tuple)) #printing lenght of tuple

['pen', 'biro', 'pencil', 'pen', 'ruler', 1, 2, 3, 4, 5, 2, 4]
('pen', 'biro', 'pencil', 'pen', 'ruler', 1, 2, 3, 4, 5, 2, 4)
pen
2
5
12

Dealing with Set

set is indicated using curly bracket

In [ ]:
set = {2, 4, 6, 8, 10}
print(set)
type(set)

In [12]:
#set does not print out duplicate values
set = {2, 4, 6, 8, 8, 2, 10}
print(set)

{2, 4, 6, 8, 10}

In [1]:
#converting a list to a set()
list_1 = [20, 30, 40, 50]
z = set(list_1)
print(z)

{40, 50, 20, 30}

DICTIONARY

In [6]:
#program to print dictionary
dictionary_ = {'age': 30, 'name': 'Femi', 'country':'Nigeria'}
print(dictionary_)
type(dictionary_)

{'age': 30, 'name': 'Femi', 'country': 'Nigeria'}

dict

In [11]:
#printing the values inside the dictionary
dictionary_ = {'age': 30, 'name': 'Femi', 'country':'Nigeria'}
print(dictionary_['age'])
print(dictionary_['name'])
print(dictionary_['country'])

30
Femi
Nigeria

In [13]:
#dictionary does not permit duplicate values
dictionary8 = {'name': 'Ali', 'name': 'Ali', 'age': 23}
print(dictionary8)

{'name': 'Ali', 'age': 23}

OPERATORS IN PYTHON

arithmetic operators
assignment operators
comparison operators
logical operators
identity operators
membership operators

In [15]:
#dealing with arithmetri operators

n1 = 10
n2 = 20

sum = n1 + n2    #addition operator
print('sum is : ', sum)

diff = n2 - n1  #difference or subtraction operator
print('difference is :', diff)

mul = n1*n2  # multipication operator
print('product is : ', mul)

div = n2/n1   #division operator
print('division is :', div)

mod = n2%n1  #modular operator
print('modular value is : ', mod)

sum is :  30
difference is : 10
product is :  200
division is : 2.0
modular value is :  0

In [16]:
#assignment operators
a = 10
b = 2
print(a)

a += b
print(a)

a -= b
print(a)

a %= b
print(a)

a *= b
print(a)

a /= b
print(a)

10
12
10
0
0
0.0

In [17]:
#comparision operators

a = 30
b = 20

print(a==b) #equal to
print(a>b) #greater than
print(a<b) # less than
print(a!=b) #not equal to
print(a<=b) #less than or equal to
print(a>=b) #greater than or equal to

False
True
False
True
False
True

In [20]:
#dealing with logical operator are 'and', 'not' and 'or'

a =  20
print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>20 and a>5))

False
True
True

In [23]:
#identity operator uses 'is' and 'is not'

a = 5
b = 5
x = 4
y = 6
print(a is b)
print (a is not b)
print (x is y)
print (x is not y)

True
False
False
True

In [25]:
#membership operators uses two operators 'in' and 'not in'

a = 10
b = 15

c = [5, 10, 11, 12, 13, 14]

print(a in c)
print(b in c)
print(a not in c)
print(b not in c)

True
False
False
True

IF ELSE STATEMENT

SIMPLE IF ELSE STATEMENT

In [26]:
# simple statement

a = 2
b = 5

if (a>b):
  print('a is the greatest number')
else:
  print('b is the greatest number')

b is the greatest number

In [27]:
# using if elif else

a = 2
b = 5
c = 20

if (b<a>c):
  print('a is the greatest number')
elif (a<b>c):
  print('b is the greatest number')
else:
  print('c is the greatest')

c is the greatest

In [30]:
# nested if statement

a =  int(input('enter the first number ,'))
b = int(input('enter the second number ,'))
c = int(input('enter the third number ,'))

if (a>b):
  if (a>c):
    print('a is the greatest')
  else:
    print('c is the greatest')
else:
  if (b>a):
    if (b>c):
      print('b is the greatest')
    else:
      print('c is the greatest')

enter the first number ,10
enter the second number ,45
enter the third number ,15
b is the greatest

LOOPS

FOR LOOPS

In [40]:
# for loops syntax is 'for variable_name in range()

#program to print ten numbers
for i in range(10):
  i = int(input('numners : '))

numners : 2
numners : 3
numners : 4
numners : 5
numners : 6
numners : 7
numners : 8
numners : 9
numners : 9
numners : 0

In [ ]:
i = [1,2,3,4,5,6]
for number in i:
  print(number)

while loop

In [50]:
i=0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

FUNCTIONS 

function is a block of codes that can be reused over and over again

In [2]:
# finding factorial value of a number
# a factorial is the product of all positive integers less than or equal to a given number

# for example: factorial of 6 is 6x5x4x3x2x1

# using the normal if statement

n = int(input('enter any number')) # allow users to enter the number

fac = 1  # initialize factorial to 1

if n ==0:
  print('the factorial of 0is 1 ')

else:
  for s in range(1, n+1):
    fac = fac *s
  print('the factorial of ', n ,'is', fac)

enter any number7
the factorial of  7 is 5040

In [10]:
# using function to print factorial

def fac_value(n):

  fac = 1

  if n ==0:
    return fac

  else:
    for s in range(1, n+1):
      fac = fac*s
    return fac

In [11]:
print(fac_value(10))

3628800

In [12]:
print(fac_value(3))

6